**Dataset Climate Change**

In [20]:
import pandas as pd
# Cargar datos
df = pd.read_csv('/content/Datasets Climate Change/climate_change_dataset.csv')

# Mostrar los primeros 5 registros
df.head()

,Year,Month,Avg_Temp (°C),Max_Temp (°C),Min_Temp (°C),Precipitation (mm),Humidity (%),Wind_Speed (m/s),Solar_Irradiance (W/m²),Cloud_Cover (%),CO2_Concentration (ppm),Latitude,Longitude,Altitude (m),Proximity_to_Water (km),Urbanization_Index,Vegetation_Index,ENSO_Index,Particulate_Matter (µg/m³),Sea_Surface_Temp (°C)
0,NaN,1.0,-3.460516,33.056918907353285,NaN,184.89969755743786,89.62081302618182,9.742885739415993,NaN,58.530797670209076,NaN,40.7128,NaN,10.0,15.0,NaN,0.04423782887418304,0.6336943092843479,33.43707805480527,18.545360112309588
1,2020.0,2.0,NaN,25.901916083791665,3.1739745975583844,2.957244192049635,95.17102000342224,10.64824600272703,252.3136442294677,32.85666516634471,419.595924,40.7128,-74.006,10.0,15.0,99999.000000,0.6128400325468267,NaN,24.504783135571934,15.909586979280654
2,2020.0,3.0,7.869842,18.63424149980029,10.42485208665568,NaN,NaN,NaN,247.39139984511084,29.380233637986674,416.650458,40.7128,-74.006,10.0,15.0,0.341732,0.4665653848003175,-0.4280583600093959,32.3274997743319,21.281093622177334
3,NaN,4.0,-0.049863,13.030562376875533,-9.196433418151315,102.4544605414934,Unknown,0.898697634212508,143.26161801322706,17.496855610388273,418.922808,40.7128,-74.006,10.0,15.0,0.896383,0.030465932726280065,-0.5707078659552114,20.496275820817043,NaN
4,2020.0,5.0,19.895067,35.88212887551623,20.067999652410148,185.72922332959365,73.99994640624561,13.128301152215258,169.5494376964624,2.1937104861995405,401.896588,40.7128,-74.006,10.0,99999.0,0.076173,NaN,-0.2861494705734404,22.64905691725084,15.502968235198333

In [42]:
# Descripción de las variables del Climate Change Dataset
print("\nDescripción de variables - Climate Change Dataset:")
print(climate_df.describe(include='all'))  # Incluye todas las columnas, incluso no numéricas

Descripción de variables - Climate Change Dataset:
          Year Month  Avg_Temp (°C)       Max_Temp (°C)       Min_Temp (°C)  \
count       48    48      46.000000                  46                  45
unique       6    13            NaN                  46                  45
top     2022.0   1.0            NaN  33.056918907353285  3.1739745975583844
freq        12     5            NaN                   1                   1
mean       NaN   NaN      13.018699                 NaN                 NaN
std        NaN   NaN      11.557213                 NaN                 NaN
min        NaN   NaN      -4.965473                 NaN                 NaN
25%        NaN   NaN       4.682635                 NaN                 NaN
50%        NaN   NaN      10.422940                 NaN                 NaN
75%        NaN   NaN      22.992501                 NaN                 NaN
max        NaN   NaN      34.282303                 NaN                 NaN

        Precipitation (mm)       Humidity (%)   Wind_Speed (m/s)  \
count                   49                 45                 51
unique                  49                 45                 51
top     184.89969755743786  89.62081302618182  9.742885739415993
freq                     1                  1                  1
mean                   NaN                NaN                NaN
std                    NaN                NaN                NaN
min                    NaN                NaN                NaN
25%                    NaN                NaN                NaN
50%                    NaN                NaN                NaN
75%                    NaN                NaN                NaN
max                    NaN                NaN                NaN

       Solar_Irradiance (W/m²)     Cloud_Cover (%)  CO2_Concentration (ppm)  \
count                       48                  49                47.000000
unique                      48                  49                      NaN
top          252.3136442294677  58.530797670209076                      NaN
freq                         1                   1                      NaN
mean                       NaN                 NaN               423.475586
std                        NaN                 NaN                13.820859
min                        NaN                 NaN               400.351530
25%                        NaN                 NaN               412.434113
50%                        NaN                 NaN               425.653185
75%                        NaN                 NaN               436.739556
max                        NaN                 NaN               444.483466

       Latitude Longitude Altitude (m) Proximity_to_Water (km)  \
count        47        50           49                      47
unique        3         2            2                       3
top     40.7128   -74.006         10.0                    15.0
freq         45        49           48                      44
mean        NaN       NaN          NaN                     NaN
std         NaN       NaN          NaN                     NaN
min         NaN       NaN          NaN                     NaN
25%         NaN       NaN          NaN                     NaN
50%         NaN       NaN          NaN                     NaN
75%         NaN       NaN          NaN                     NaN
max         NaN       NaN          NaN                     NaN

        Urbanization_Index     Vegetation_Index ENSO_Index  \
count            50.000000                   50         50
unique                 NaN                   50         49
top                    NaN  0.04423782887418304    99999.0
freq                   NaN                    1          2
mean           4000.477221                  NaN        NaN
std           19794.561777                  NaN        NaN
min               0.016689                  NaN        NaN
25%               0.270233                  NaN        NaN
50%               0.566592                  NaN        NaN
75%               0.853385                  NaN        NaN
max           99999.000000                  NaN        NaN

       Particulate_Matter (µg/m³) Sea_Surface_Temp (°C)
count                          50                    46
unique                         50                    46
top             33.43707805480527    18.545360112309588
freq                            1                     1
mean                          NaN                   NaN
std                           NaN                   NaN
min                           NaN                   NaN
25%                           NaN                   NaN
50%                           NaN                   NaN
75%                           NaN                   NaN
max                           NaN                   NaN

In [43]:

# Describir las variables interesantes
print("\nVariables interesantes:")
print("1. Year: Año de la medición, importante para análisis de tendencias a lo largo del tiempo.")
print("2. Month: Mes de la medición, útil para análisis estacionales.")
print("3. Avg_Temp (°C): Temperatura promedio, clave para entender el calentamiento global.")
print("4. Max_Temp (°C): Temperatura máxima, puede indicar eventos climáticos extremos.")
print("5. Min_Temp (°C): Temperatura mínima, útil para análisis de variabilidad climática.")
print("6. Precipitation (mm): Precipitación, esencial para estudios de sequías e inundaciones.")
print("7. Humidity (%): Humedad, importante para entender el clima y el confort humano.")
print("8. Wind_Speed (m/s): Velocidad del viento, relevante para estudios de energía eólica y clima.")
print("9. Solar_Irradiance (W/m²): Irradiancia solar, importante para estudios de energía solar.")
print("10. Cloud_Cover (%): Cobertura de nubes, relevante para estudios climáticos.")
print("11. CO2_Concentration (ppm): Concentración de CO2, un indicador crítico del cambio climático.")
print("12. Latitude: Latitud geográfica, útil para análisis regionales.")
print("13. Longitude: Longitud geográfica, útil para análisis regionales.")
print("14. Altitude (m): Altitud, relevante para estudios de clima en diferentes elevaciones.")
print("15. Proximity_to_Water (km): Proximidad al agua, importante para estudios de clima costero.")
print("16. Urbanization_Index: Índice de urbanización, relevante para estudios de impacto urbano.")
print("17. Vegetation_Index: Índice de vegetación, útil para estudios de ecosistemas.")
print("18. ENSO_Index: Índice de Oscilación del Sur de El Niño, importante para estudios climáticos.")
print("19. Particulate_Matter (µg/m³): Materia particulada, relevante para estudios de calidad del aire.")
print("20. Sea_Surface_Temp (°C): Temperatura de la superficie del mar, importante para estudios oceánicos.")

Variables interesantes:
1. Year: Año de la medición, importante para análisis de tendencias a lo largo del tiempo.
2. Month: Mes de la medición, útil para análisis estacionales.
3. Avg_Temp (°C): Temperatura promedio, clave para entender el calentamiento global.
4. Max_Temp (°C): Temperatura máxima, puede indicar eventos climáticos extremos.
5. Min_Temp (°C): Temperatura mínima, útil para análisis de variabilidad climática.
6. Precipitation (mm): Precipitación, esencial para estudios de sequías e inundaciones.
7. Humidity (%): Humedad, importante para entender el clima y el confort humano.
8. Wind_Speed (m/s): Velocidad del viento, relevante para estudios de energía eólica y clima.
9. Solar_Irradiance (W/m²): Irradiancia solar, importante para estudios de energía solar.
10. Cloud_Cover (%): Cobertura de nubes, relevante para estudios climáticos.
11. CO2_Concentration (ppm): Concentración de CO2, un indicador crítico del cambio climático.
12. Latitude: Latitud geográfica, útil para análisis regionales.
13. Longitude: Longitud geográfica, útil para análisis regionales.
14. Altitude (m): Altitud, relevante para estudios de clima en diferentes elevaciones.
15. Proximity_to_Water (km): Proximidad al agua, importante para estudios de clima costero.
16. Urbanization_Index: Índice de urbanización, relevante para estudios de impacto urbano.
17. Vegetation_Index: Índice de vegetación, útil para estudios de ecosistemas.
18. ENSO_Index: Índice de Oscilación del Sur de El Niño, importante para estudios climáticos.
19. Particulate_Matter (µg/m³): Materia particulada, relevante para estudios de calidad del aire.
20. Sea_Surface_Temp (°C): Temperatura de la superficie del mar, importante para estudios oceánicos.

**Dataset Corals Worldwide**

In [31]:
import pandas as pd
# Cargar datos
df = pd.read_csv('/content/Dataset Corals Worldwide/corals_worldwide_dataset.csv')

# Mostrar los primeros 5 registros
df.head()

,name,salinity,January_temp,June_temp,area,latitude,longitude,type of sea,corals,silt/sulfide
0,Adriatic Sea,38.298527,15.658799,20.855299,138000,43,15,2,1,0
1,Adriatic Sea,38.304909,16.297098,19.501200,138000,43,15,2,1,0
2,Adriatic Sea,38.462040,16.251598,19.028500,138000,43,15,2,1,0
3,Adriatic Sea,38.121601,15.709500,22.882999,138000,43,15,2,1,0
4,Adriatic Sea,38.519196,15.733400,21.824799,138000,43,15,2,1,0

In [44]:
# Descripción de las variables del dataset
print("\nDescripción de variables - Corals Worldwide Dataset:")
print(corals_df.describe(include='all'))  # Incluye todas las columnas, incluso no numéricas

Descripción de variables - Corals Worldwide Dataset:
                name     salinity  January_temp    June_temp          area  \
count           2451  2451.000000   2451.000000  2451.000000  2.451000e+03
unique            51          NaN           NaN          NaN           NaN
top     Adriatic Sea          NaN           NaN          NaN           NaN
freq              49          NaN           NaN          NaN           NaN
mean             NaN    32.819880     18.026784    21.612658  1.004778e+06
std              NaN     6.625290     11.069937    10.095466  1.207755e+06
min              NaN     5.933204     -1.899994    -1.899994  1.150000e+04
25%              NaN    32.870247      7.942601    19.500600  2.800000e+05
50%              NaN    34.191502     19.670200    24.600000  6.100000e+05
75%              NaN    36.148840     28.238198    29.620199  1.150000e+06
max              NaN    40.000000     30.763500    32.300000  5.695000e+06

           latitude    longitude  type of sea       corals  silt/sulfide
count   2451.000000  2451.000000  2451.000000  2451.000000   2451.000000
unique          NaN          NaN          NaN          NaN           NaN
top             NaN          NaN          NaN          NaN           NaN
freq            NaN          NaN          NaN          NaN           NaN
mean      17.804978    77.937169     2.680131     0.860057      0.039984
std       33.877142    53.367369     0.507584     0.346999      0.195961
min      -68.000000     0.000000     1.000000     0.000000      0.000000
25%       -5.000000    28.000000     2.000000     1.000000      0.000000
50%       20.000000    65.000000     3.000000     1.000000      0.000000
75%       40.000000   125.000000     3.000000     1.000000      0.000000
max       76.000000   163.000000     3.000000     1.000000      1.000000

In [45]:

# Describir las variables interesantes
print("\nVariables interesantes:")
print("1. name: Nombre del mar o área donde se encuentran los corales.")
print("2. salinity: Salinidad del agua, importante para la salud de los corales.")
print("3. January_temp: Temperatura promedio en enero, relevante para el análisis estacional.")
print("4. June_temp: Temperatura promedio en junio, relevante para el análisis estacional.")
print("5. area: Área del mar o región, útil para estudios de biodiversidad.")
print("6. latitude: Latitud geográfica, importante para estudios de distribución.")
print("7. longitude: Longitud geográfica, importante para estudios de distribución.")
print("8. type of sea: Tipo de mar (por ejemplo, mar abierto, costero), relevante para el análisis ecológico.")
print("9. corals: Número de especies de corales, clave para estudios de biodiversidad.")
print("10. silt/sulfide: Contenido de sedimentos o sulfuro, importante para la salud del ecosistema.")

Variables interesantes:
1. name: Nombre del mar o área donde se encuentran los corales.
2. salinity: Salinidad del agua, importante para la salud de los corales.
3. January_temp: Temperatura promedio en enero, relevante para el análisis estacional.
4. June_temp: Temperatura promedio en junio, relevante para el análisis estacional.
5. area: Área del mar o región, útil para estudios de biodiversidad.
6. latitude: Latitud geográfica, importante para estudios de distribución.
7. longitude: Longitud geográfica, importante para estudios de distribución.
8. type of sea: Tipo de mar (por ejemplo, mar abierto, costero), relevante para el análisis ecológico.
9. corals: Número de especies de corales, clave para estudios de biodiversidad.
10. silt/sulfide: Contenido de sedimentos o sulfuro, importante para la salud del ecosistema.

**Dataset Volcanic Eruptions**

In [37]:
import pandas as pd
# Cargar datos
df = pd.read_csv('/content/Dataset Volcanic Eruption/significant-volcanic-eruption-database.csv', sep=';')

# Mostrar los primeros 5 registros
df.head()

,Year,Month,Day,Flag Tsunami,Flag Earthquake,Volcano Name,Location,Country,Elevation,Volcano Type,...,Total Effects : Missing Description,Total Effects : Injuries,Total Effects : Injuries Description,Total Effects : Damages in million Dollars,Total Effects : Damage Description,Total Effects : Houses Destroyed,Total Effects : Houses Destroyed Description,Coordinates,Earthquakes : Houses damaged Description,Total Effects : Houses Damaged Description
0,-141,NaN,NaN,NaN,NaN,Etna,Italy,Italy,3350,Stratovolcano,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"37.734, 15.004",NaN,NaN
1,1262,NaN,NaN,NaN,NaN,Katla,Iceland-S,Iceland,1512,Subglacial volcano,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"63.63, -19.05",NaN,NaN
2,1300,7.0,11.0,NaN,NaN,Hekla,Iceland-S,Iceland,1491,Stratovolcano,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"63.98, -19.7",NaN,NaN
3,1331,12.0,NaN,NaN,NaN,Aso,Kyushu-Japan,Japan,1592,Caldera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"32.88, 131.1",NaN,NaN
4,1714,6.0,30.0,Tsunami,NaN,Vesuvius,Italy,Italy,1281,Complex volcano,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"40.821, 14.426",NaN,NaN

In [46]:
# Descripción de las variables del dataset
print("\nDescripción de variables - Significant Volcanic Eruption Dataset:")
print(volcano_df.describe(include='all'))  # Incluye todas las columnas, incluso no numéricas

Descripción de variables - Significant Volcanic Eruption Dataset:
               Year       Month         Day Flag Tsunami Flag Earthquake  \
count    835.000000  708.000000  647.000000          145              67
unique          NaN         NaN         NaN            1               1
top             NaN         NaN         NaN      Tsunami      Earthquake
freq            NaN         NaN         NaN          145              67
mean    1720.280240    6.361582   15.392581          NaN             NaN
std      732.966428    3.344322    9.066856          NaN             NaN
min    -4360.000000    1.000000    1.000000          NaN             NaN
25%     1787.500000    4.000000    7.000000          NaN             NaN
50%     1919.000000    7.000000   15.000000          NaN             NaN
75%     1983.500000    9.000000   23.500000          NaN             NaN
max     2020.000000   12.000000   31.000000          NaN             NaN

       Volcano Name Location    Country    Elevation   Volcano Type  ...  \
count           835      835        835   835.000000            835  ...
unique          267       78         50          NaN             20  ...
top          Merapi     Java  Indonesia          NaN  Stratovolcano  ...
freq             27      102        194          NaN            538  ...
mean            NaN      NaN        NaN  1983.366467            NaN  ...
std             NaN      NaN        NaN  1225.593709            NaN  ...
min             NaN      NaN        NaN  -642.000000            NaN  ...
25%             NaN      NaN        NaN  1117.000000            NaN  ...
50%             NaN      NaN        NaN  1718.000000            NaN  ...
75%             NaN      NaN        NaN  2665.000000            NaN  ...
max             NaN      NaN        NaN  5967.000000            NaN  ...

       Total Effects : Missing Description  Total Effects : Injuries  \
count                                   12                 96.000000
unique                                   4                       NaN
top                  Few (~1 to 50 deaths)                       NaN
freq                                     5                       NaN
mean                                   NaN                516.031250
std                                    NaN               3404.482434
min                                    NaN                  1.000000
25%                                    NaN                  3.000000
50%                                    NaN                 11.000000
75%                                    NaN                 45.500000
max                                    NaN              31943.000000

        Total Effects : Injuries Description  \
count                                    126
unique                                     4
top                    Few (~1 to 50 deaths)
freq                                      89
mean                                     NaN
std                                      NaN
min                                      NaN
25%                                      NaN
50%                                      NaN
75%                                      NaN
max                                      NaN

       Total Effects : Damages in million Dollars  \
count                                   22.000000
unique                                        NaN
top                                           NaN
freq                                          NaN
mean                                   172.602909
std                                    433.950515
min                                      1.000000
25%                                      3.366000
50%                                     14.750000
75%                                    111.250000
max                                   2000.000000

                       Total Effects : Damage Description  \
count                                                 239
unique                                                  4
top     LIMITED (roughly corresponding to less than $1...
freq                                                  131
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

       Total Effects : Houses Destroyed  \
count                         39.000000
unique                              NaN
top                                 NaN
freq                                NaN
mean                        1048.102564
std                         2035.093284
min                            1.000000
25%                           32.000000
50%                          164.000000
75%                          758.000000
max                         9000.000000

        Total Effects : Houses Destroyed Description      Coordinates  \
count                                            128              835
unique                                             4              269
top                       Many (~101 to 1000 houses)  -7.542, 110.442
freq                                              47               27
mean                                             NaN              NaN
std                                              NaN              NaN
min                                              NaN              NaN
25%                                              NaN              NaN
50%                                              NaN              NaN
75%                                              NaN              NaN
max                                              NaN              NaN

        Earthquakes : Houses damaged Description  \
count                                        0.0
unique                                       NaN
top                                          NaN
freq                                         NaN
mean                                         NaN
std                                          NaN
min                                          NaN
25%                                          NaN
50%                                          NaN
75%                                          NaN
max                                          NaN

       Total Effects : Houses Damaged Description
count                                         0.0
unique                                        NaN
top                                           NaN
freq                                          NaN
mean                                          NaN
std                                           NaN
min                                           NaN
25%                                           NaN
50%                                           NaN
75%                                           NaN
max                                           NaN

[11 rows x 35 columns]

In [47]:

# Describir las variables interesantes
print("\nVariables interesantes:")
print("1. Year: Año de la erupción, importante para análisis de tendencias a lo largo del tiempo.")
print("2. Month: Mes de la erupción, útil para análisis estacionales.")
print("3. Volcano Name: Nombre del volcán, relevante para estudios geográficos y de riesgo.")
print("4. Location: Ubicación del volcán, importante para análisis regionales.")
print("5. Country: País donde se encuentra el volcán, útil para estudios de impacto nacional.")
print("6. Elevation: Elevación del volcán, relevante para estudios de geografía y clima.")
print("7. Volcano Type: Tipo de volcán, importante para clasificaciones geológicas.")
print("8. Status: Estado del volcán (activo, inactivo, etc.), clave para estudios de riesgo.")
print("9. Volcanic Explosivity Index (VEI): Índice de explosividad volcánica, importante para evaluar el impacto.")
print("10. Deaths: Número de muertes causadas por la erupción, relevante para estudios de impacto humano.")
print("11. Injuries: Número de lesiones causadas por la erupción, importante para análisis de salud pública.")
print("12. Damage (in M$): Daños económicos causados por la erupción, clave para estudios económicos.")
print("13. Houses destroyed: Número de casas destruidas, relevante para estudios de impacto en la vivienda.")
print("14. Total Effects: Resumen de efectos totales, útil para análisis de impacto general.")
print("15. Coordinates: Coordenadas geográficas del volcán, importante para estudios de ubicación.")

Variables interesantes:
1. Year: Año de la erupción, importante para análisis de tendencias a lo largo del tiempo.
2. Month: Mes de la erupción, útil para análisis estacionales.
3. Volcano Name: Nombre del volcán, relevante para estudios geográficos y de riesgo.
4. Location: Ubicación del volcán, importante para análisis regionales.
5. Country: País donde se encuentra el volcán, útil para estudios de impacto nacional.
6. Elevation: Elevación del volcán, relevante para estudios de geografía y clima.
7. Volcano Type: Tipo de volcán, importante para clasificaciones geológicas.
8. Status: Estado del volcán (activo, inactivo, etc.), clave para estudios de riesgo.
9. Volcanic Explosivity Index (VEI): Índice de explosividad volcánica, importante para evaluar el impacto.
10. Deaths: Número de muertes causadas por la erupción, relevante para estudios de impacto humano.
11. Injuries: Número de lesiones causadas por la erupción, importante para análisis de salud pública.
12. Damage (in M$): Daños económicos causados por la erupción, clave para estudios económicos.
13. Houses destroyed: Número de casas destruidas, relevante para estudios de impacto en la vivienda.
14. Total Effects: Resumen de efectos totales, útil para análisis de impacto general.
15. Coordinates: Coordenadas geográficas del volcán, importante para estudios de ubicación.

**Resumen 3 Datasets**

In [52]:
# Importar librerías
import pandas as pd

# Cargar los datasets
df = pd.read_csv('/content/Dataset Volcanic Eruption/significant-volcanic-eruption-database.csv', sep=';')
df = pd.read_csv('/content/Datasets Climate Change/climate_change_dataset.csv')
df = pd.read_csv('/content/Dataset Corals Worldwide/corals_worldwide_dataset.csv')

# Mostrar las primeras filas del dataset de erupciones volcánicas
print("Significant Volcanic Eruption Dataset:")
print(volcano_df.head())

# Descripción de las variables del dataset de erupciones volcánicas
print("\nDescripción de variables - Significant Volcanic Eruption Dataset:")
print(volcano_df.describe(include='all'))

print("\nVariables interesantes (Volcanes):")
print("1. Year: Año de la erupción. Importante para análisis de tendencias y planificación de recursos.")
print("2. Volcano Name: Nombre del volcán. Relevante para estudios geográficos y de riesgo.")
print("3. Country: País donde se encuentra el volcán. Útil para análisis de impacto nacional.")
print("4. Volcanic Explosivity Index (VEI): Índice de explosividad volcánica. Clave para evaluar el impacto.")
print("5. Deaths: Número de muertes causadas por la erupción. Relevante para estudios de impacto humano.")
print("6. Damage (in M$): Daños económicos causados por la erupción. Importante para estudios económicos.")

# Mostrar las primeras filas del dataset de cambio climático
print("\nClimate Change Dataset:")
print(climate_df.head())

# Descripción de las variables del dataset de cambio climático
print("\nDescripción de variables - Climate Change Dataset:")
print(climate_df.describe(include='all'))

print("\nVariables interesantes (Cambio Climático):")
print("1. Year: Año de la medición. Importante para análisis de tendencias a lo largo del tiempo.")
print("2. Avg_Temp (°C): Temperatura promedio. Clave para entender el calentamiento global.")
print("3. CO2_Concentration (ppm): Concentración de CO2. Indicador crítico del cambio climático.")
print("4. Precipitation (mm): Precipitación. Esencial para estudios de sequías e inundaciones.")
print("5. Wind_Speed (m/s): Velocidad del viento. Relevante para estudios de energía eólica.")

# Mostrar las primeras filas del dataset de corales
print("\nCorals Worldwide Dataset:")
print(corals_df.head())

# Descripción de las variables del dataset de corales
print("\nDescripción de variables - Corals Worldwide Dataset:")
print(corals_df.describe(include='all'))

print("\nVariables interesantes (Corales):")
print("1. name: Nombre del mar o área donde se encuentran los corales. Importante para estudios de biodiversidad.")
print("2. salinity: Salinidad del agua. Clave para la salud de los corales.")
print("3. January_temp: Temperatura promedio en enero. Útil para análisis estacionales.")
print("4. June_temp: Temperatura promedio en junio. Relevante para el análisis estacional.")
print("5. area: Área del mar o región. Importante para estudios de biodiversidad y conservación.")

Significant Volcanic Eruption Dataset:
   Year  Month   Day Flag Tsunami Flag Earthquake Volcano Name      Location  \
0  -141    NaN   NaN          NaN             NaN         Etna         Italy
1  1262    NaN   NaN          NaN             NaN        Katla     Iceland-S
2  1300    7.0  11.0          NaN             NaN        Hekla     Iceland-S
3  1331   12.0   NaN          NaN             NaN          Aso  Kyushu-Japan
4  1714    6.0  30.0      Tsunami             NaN     Vesuvius         Italy

   Country  Elevation        Volcano Type  ...  \
0    Italy       3350       Stratovolcano  ...
1  Iceland       1512  Subglacial volcano  ...
2  Iceland       1491       Stratovolcano  ...
3    Japan       1592             Caldera  ...
4    Italy       1281     Complex volcano  ...

  Total Effects : Missing Description  Total Effects : Injuries  \
0                                 NaN                       NaN
1                                 NaN                       NaN
2                                 NaN                       NaN
3                                 NaN                       NaN
4                                 NaN                       NaN

   Total Effects : Injuries Description  \
0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN

  Total Effects : Damages in million Dollars  \
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN

   Total Effects : Damage Description Total Effects : Houses Destroyed  \
0                                 NaN                              NaN
1                                 NaN                              NaN
2                                 NaN                              NaN
3                                 NaN                              NaN
4                                 NaN                              NaN

   Total Effects : Houses Destroyed Description     Coordinates  \
0                                           NaN  37.734, 15.004
1                                           NaN   63.63, -19.05
2                                           NaN    63.98, -19.7
3                                           NaN    32.88, 131.1
4                                           NaN  40.821, 14.426

   Earthquakes : Houses damaged Description  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

  Total Effects : Houses Damaged Description
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN

[5 rows x 35 columns]

Descripción de variables - Significant Volcanic Eruption Dataset:
               Year       Month         Day Flag Tsunami Flag Earthquake  \
count    835.000000  708.000000  647.000000          145              67
unique          NaN         NaN         NaN            1               1
top             NaN         NaN         NaN      Tsunami      Earthquake
freq            NaN         NaN         NaN          145              67
mean    1720.280240    6.361582   15.392581          NaN             NaN
std      732.966428    3.344322    9.066856          NaN             NaN
min    -4360.000000    1.000000    1.000000          NaN             NaN
25%     1787.500000    4.000000    7.000000          NaN             NaN
50%     1919.000000    7.000000   15.000000          NaN             NaN
75%     1983.500000    9.000000   23.500000          NaN             NaN
max     2020.000000   12.000000   31.000000          NaN             NaN

       Volcano Name Location    Country    Elevation   Volcano Type  ...  \
count           835      835        835   835.000000            835  ...
unique          267       78         50          NaN             20  ...
top          Merapi     Java  Indonesia          NaN  Stratovolcano  ...
freq             27      102        194          NaN            538  ...
mean            NaN      NaN        NaN  1983.366467            NaN  ...
std             NaN      NaN        NaN  1225.593709            NaN  ...
min             NaN      NaN        NaN  -642.000000            NaN  ...
25%             NaN      NaN        NaN  1117.000000            NaN  ...
50%             NaN      NaN        NaN  1718.000000            NaN  ...
75%             NaN      NaN        NaN  2665.000000            NaN  ...
max             NaN      NaN        NaN  5967.000000            NaN  ...

       Total Effects : Missing Description  Total Effects : Injuries  \
count                                   12                 96.000000
unique                                   4                       NaN
top                  Few (~1 to 50 deaths)                       NaN
freq                                     5                       NaN
mean                                   NaN                516.031250
std                                    NaN               3404.482434
min                                    NaN                  1.000000
25%                                    NaN                  3.000000
50%                                    NaN                 11.000000
75%                                    NaN                 45.500000
max                                    NaN              31943.000000

        Total Effects : Injuries Description  \
count                                    126
unique                                     4
top                    Few (~1 to 50 deaths)
freq                                      89
mean                                     NaN
std                                      NaN
min                                      NaN
25%                                      NaN
50%                                      NaN
75%                                      NaN
max                                      NaN

       Total Effects : Damages in million Dollars  \
count                                   22.000000
unique                                        NaN
top                                           NaN
freq                                          NaN
mean                                   172.602909
std                                    433.950515
min                                      1.000000
25%                                      3.366000
50%                                     14.750000
75%                                    111.250000
max                                   2000.000000

                       Total Effects : Damage Description  \
count                                                 239
unique                                                  4
top     LIMITED (roughly corresponding to less than $1...
freq                                                  131
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

       Total Effects : Houses Destroyed  \
count                         39.000000
unique                              NaN
top                                 NaN
freq                                NaN
mean                        1048.102564
std                         2035.093284
min                            1.000000
25%                           32.000000
50%                          164.000000
75%                          758.000000
max                         9000.000000

        Total Effects : Houses Destroyed Description      Coordinates  \
count                                            128              835
unique                                             4              269
top                       Many (~101 to 1000 houses)  -7.542, 110.442
freq                                              47               27
mean                                             NaN              NaN
std                                              NaN              NaN
min                                              NaN              NaN
25%                                              NaN              NaN
50%                                              NaN              NaN
75%                                              NaN              NaN
max                                              NaN              NaN

        Earthquakes : Houses damaged Description  \
count                                        0.0
unique                                       NaN
top                                          NaN
freq                                         NaN
mean                                         NaN
std                                          NaN
min                                          NaN
25%                                          NaN
50%                                          NaN
75%                                          NaN
max                                          NaN

       Total Effects : Houses Damaged Description
count                                         0.0
unique                                        NaN
top                                           NaN
freq                                          NaN
mean                                          NaN
std                                           NaN
min                                           NaN
25%                                           NaN
50%                                           NaN
75%                                           NaN
max                                           NaN

[11 rows x 35 columns]

Variables interesantes (Volcanes):
1. Year: Año de la erupción. Importante para análisis de tendencias y planificación de recursos.
2. Volcano Name: Nombre del volcán. Relevante para estudios geográficos y de riesgo.
3. Country: País donde se encuentra el volcán. Útil para análisis de impacto nacional.
4. Volcanic Explosivity Index (VEI): Índice de explosividad volcánica. Clave para evaluar el impacto.
5. Deaths: Número de muertes causadas por la erupción. Relevante para estudios de impacto humano.
6. Damage (in M$): Daños económicos causados por la erupción. Importante para estudios económicos.

Climate Change Dataset:
     Year Month  Avg_Temp (°C)       Max_Temp (°C)       Min_Temp (°C)  \
0     NaN   1.0      -3.460516  33.056918907353285                 NaN
1  2020.0   2.0            NaN  25.901916083791665  3.1739745975583844
2  2020.0   3.0       7.869842   18.63424149980029   10.42485208665568
3     NaN   4.0      -0.049863  13.030562376875533  -9.196433418151315
4  2020.0   5.0      19.895067   35.88212887551623  20.067999652410148

   Precipitation (mm)       Humidity (%)    Wind_Speed (m/s)  \
0  184.89969755743786  89.62081302618182   9.742885739415993
1   2.957244192049635  95.17102000342224   10.64824600272703
2                 NaN                NaN                 NaN
3   102.4544605414934            Unknown   0.898697634212508
4  185.72922332959365  73.99994640624561  13.128301152215258

  Solar_Irradiance (W/m²)     Cloud_Cover (%)  CO2_Concentration (ppm)  \
0                     NaN  58.530797670209076                      NaN
1       252.3136442294677   32.85666516634471               419.595924
2      247.39139984511084  29.380233637986674               416.650458
3      143.26161801322706  17.496855610388273               418.922808
4       169.5494376964624  2.1937104861995405               401.896588

  Latitude Longitude Altitude (m) Proximity_to_Water (km)  Urbanization_Index  \
0  40.7128       NaN         10.0                    15.0                 NaN
1  40.7128   -74.006         10.0                    15.0        99999.000000
2  40.7128   -74.006         10.0                    15.0            0.341732
3  40.7128   -74.006         10.0                    15.0            0.896383
4  40.7128   -74.006         10.0                 99999.0            0.076173

       Vegetation_Index           ENSO_Index Particulate_Matter (µg/m³)  \
0   0.04423782887418304   0.6336943092843479          33.43707805480527
1    0.6128400325468267                  NaN         24.504783135571934
2    0.4665653848003175  -0.4280583600093959           32.3274997743319
3  0.030465932726280065  -0.5707078659552114         20.496275820817043
4                   NaN  -0.2861494705734404          22.64905691725084

  Sea_Surface_Temp (°C)
0    18.545360112309588
1    15.909586979280654
2    21.281093622177334
3                   NaN
4    15.502968235198333

Descripción de variables - Climate Change Dataset:
          Year Month  Avg_Temp (°C)       Max_Temp (°C)       Min_Temp (°C)  \
count       48    48      46.000000                  46                  45
unique       6    13            NaN                  46                  45
top     2022.0   1.0            NaN  33.056918907353285  3.1739745975583844
freq        12     5            NaN                   1                   1
mean       NaN   NaN      13.018699                 NaN                 NaN
std        NaN   NaN      11.557213                 NaN                 NaN
min        NaN   NaN      -4.965473                 NaN                 NaN
25%        NaN   NaN       4.682635                 NaN                 NaN
50%        NaN   NaN      10.422940                 NaN                 NaN
75%        NaN   NaN      22.992501                 NaN                 NaN
max        NaN   NaN      34.282303                 NaN                 NaN

        Precipitation (mm)       Humidity (%)   Wind_Speed (m/s)  \
count                   49                 45                 51
unique                  49                 45                 51
top     184.89969755743786  89.62081302618182  9.742885739415993
freq                     1                  1                  1
mean                   NaN                NaN                NaN
std                    NaN                NaN                NaN
min                    NaN                NaN                NaN
25%                    NaN                NaN                NaN
50%                    NaN                NaN                NaN
75%                    NaN                NaN                NaN
max                    NaN                NaN                NaN

       Solar_Irradiance (W/m²)     Cloud_Cover (%)  CO2_Concentration (ppm)  \
count                       48                  49                47.000000
unique                      48                  49                      NaN
top          252.3136442294677  58.530797670209076                      NaN
freq                         1                   1                      NaN
mean                       NaN                 NaN               423.475586
std                        NaN                 NaN                13.820859
min                        NaN                 NaN               400.351530
25%                        NaN                 NaN               412.434113
50%                        NaN                 NaN               425.653185
75%                        NaN                 NaN               436.739556
max                        NaN                 NaN               444.483466

       Latitude Longitude Altitude (m) Proximity_to_Water (km)  \
count        47        50           49                      47
unique        3         2            2                       3
top     40.7128   -74.006         10.0                    15.0
freq         45        49           48                      44
mean        NaN       NaN          NaN                     NaN
std         NaN       NaN          NaN                     NaN
min         NaN       NaN          NaN                     NaN
25%         NaN       NaN          NaN                     NaN
50%         NaN       NaN          NaN                     NaN
75%         NaN       NaN          NaN                     NaN
max         NaN       NaN          NaN                     NaN

        Urbanization_Index     Vegetation_Index ENSO_Index  \
count            50.000000                   50         50
unique                 NaN                   50         49
top                    NaN  0.04423782887418304    99999.0
freq                   NaN                    1          2
mean           4000.477221                  NaN        NaN
std           19794.561777                  NaN        NaN
min               0.016689                  NaN        NaN
25%               0.270233                  NaN        NaN
50%               0.566592                  NaN        NaN
75%               0.853385                  NaN        NaN
max           99999.000000                  NaN        NaN

       Particulate_Matter (µg/m³) Sea_Surface_Temp (°C)
count                          50                    46
unique                         50                    46
top             33.43707805480527    18.545360112309588
freq                            1                     1
mean                          NaN                   NaN
std                           NaN                   NaN
min                           NaN                   NaN
25%                           NaN                   NaN
50%                           NaN                   NaN
75%                           NaN                   NaN
max                           NaN                   NaN

Variables interesantes (Cambio Climático):
1. Year: Año de la medición. Importante para análisis de tendencias a lo largo del tiempo.
2. Avg_Temp (°C): Temperatura promedio. Clave para entender el calentamiento global.
3. CO2_Concentration (ppm): Concentración de CO2. Indicador crítico del cambio climático.
4. Precipitation (mm): Precipitación. Esencial para estudios de sequías e inundaciones.
5. Wind_Speed (m/s): Velocidad del viento. Relevante para estudios de energía eólica.

Corals Worldwide Dataset:
           name   salinity  January_temp  June_temp    area  latitude  \
0  Adriatic Sea  38.298527     15.658799  20.855299  138000        43
1  Adriatic Sea  38.304909     16.297098  19.501200  138000        43
2  Adriatic Sea  38.462040     16.251598  19.028500  138000        43
3  Adriatic Sea  38.121601     15.709500  22.882999  138000        43
4  Adriatic Sea  38.519196     15.733400  21.824799  138000        43

   longitude  type of sea  corals  silt/sulfide
0         15            2       1             0
1         15            2       1             0
2         15            2       1             0
3         15            2       1             0
4         15            2       1             0

Descripción de variables - Corals Worldwide Dataset:
                name     salinity  January_temp    June_temp          area  \
count           2451  2451.000000   2451.000000  2451.000000  2.451000e+03
unique            51          NaN           NaN          NaN           NaN
top     Adriatic Sea          NaN           NaN          NaN           NaN
freq              49          NaN           NaN          NaN           NaN
mean             NaN    32.819880     18.026784    21.612658  1.004778e+06
std              NaN     6.625290     11.069937    10.095466  1.207755e+06
min              NaN     5.933204     -1.899994    -1.899994  1.150000e+04
25%              NaN    32.870247      7.942601    19.500600  2.800000e+05
50%              NaN    34.191502     19.670200    24.600000  6.100000e+05
75%              NaN    36.148840     28.238198    29.620199  1.150000e+06

Contexto Comercial y Analítico

*   Significant Volcanic Eruption Dataset:

Análisis de Riesgo: Las variables como el estado del volcán y el índice de explosividad son cruciales para evaluar el riesgo que representan los volcanes para las comunidades cercanas.

Impacto Económico: Las variables de daños económicos y muertes son importantes para entender el impacto financiero de las erupciones.

*   Climate Change Dataset:

Tendencias Climáticas: Las variables de temperatura y concentración de CO2 son esenciales para analizar las tendencias del cambio climático y su impacto en el medio ambiente.

Planificación de Recursos: La precipitación y la velocidad del viento son relevantes para la planificación de recursos hídricos y energéticos.

*   Corals Worldwide Dataset:

Conservación de Ecosistemas: Las variables de salinidad y temperatura son importantes para entender la salud de los ecosistemas de corales y su respuesta al cambio climático.

Biodiversidad: El nombre del área y el número de especies de corales son relevantes para estudios de biodiversidad y conservación marina.